<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <p th:text></p>
    <meta charset="UTF-8"/>
    <title th:text="${#temporals.dayOfWeekName(localDateTime)} + '\'s Schedule' "></title>
</head>

<body>
    <h1 th:text="${#temporals.dayOfWeekName(localDateTime)}"></h1>

    <table>
        <tr th:each="class : ${schedule.getSch().get(#temporals.dayOfWeekName(localDateTime))}">
            <td th:text="${class.getClassName()}"></td>
            <td th:text="${class.getRoomNum()}"></td>
            <td th:text="${class.getStartTime()}"></td>
            <td th:text="${class.getEndTime()}"></td>
        </tr>
    </table>

</body>

</html>